<div class="about">
  <div class="container">
    <br>
    <div class="backButton">
      <app-chevron-button></app-chevron-button>
    </div>
    <br>
    <div class="jumbotron">
      <h3 class="yellow">About</h3>
      Aging is a complex biological phenomenon associated with the accumulation of molecular
      damage and other negative consequences of metabolism. One of these manifestations is
      altered methylation of cytosines within DNA. In 2013, Steve Horvath (UCLA) and then other
      scientists developed robust biomarkers of aging based on age-related changes in DNA
      methylation, known as <span class="yellow">epigenetic aging clocks.</span> The original multi-tissue Horvath clock remains
      the most popular tool to assess the age of human cells, tissues and organisms. This clock has
      been shown to report the effects of rejuvenation associated with reprogramming of somatic cells
      to induced pluripotent stem cells, accelerated (breast) and decelerated (cerebellum) aging of
      certain human tissues, an increased age (compared to chronological age) associated with
      obesity, HIV infection and Down syndrome, and numerous other cases of age acceleration or
      deceleration associated with various conditions. As such, the Horvath clock reports changes in
      biological age, and therefore may be used to identify genetic and environmental conditions that
      modulate the rate of human aging. As of 2020, the original Horvath paper has been cited over
      2600 times, and the associated clock has been used by hundreds of research groups. A major
      limitation, however, is the difficulty of using the clock by scientists without computational
      background. To address this deficiency, we <span class="yellow">provide a tool</span>, based on the Horvath clock, that may
      use .csv files with beta values (DNA methylation levels at defined CpG sites) to quantify the age
      of human samples. The clock is based on methylation levels of CpG sites scattered across
      human chromosomes, each with defined weight in the overall model.
      <br>
      <br>
      Samples are processed by scripts based on the wonderful library created by Daniel E. Martin-Herranz,
      and those from the original Horvath study. Check both out below.
      <br>
      <br>
      <a href='https://genomebiology.biomedcentral.com/articles/10.1186/gb-2013-14-10-r115'>Horvath S. DNA methylation
        age of human tissues and cell types. Genome Biol.
        2013;14(10):R115. doi: 10.1186/gb-2013-14-10-r115. PMID: 24138928; PMCID: PMC4015143.</a>
      <br>
      <br>
      <a href="https://doi.org/10.1186/s13059-019-1753-9">Martin-Herranz, D.E. et al. Screening for genes that accelerate the epigenetic aging clock in humans reveals a role for the H3K36 methyltransferase NSD1. Genome Biol 20, 146 (2019).</a>
      </div>
  </div>
</div>
