.about {
  position: absolute;
  min-height: 100%;
  height: max-content;
  width: 100%;
  background-image: url('../../../assets/mitchellensink.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Bebas Neue', cursive;
}

.yellow {
  color: #F5DF4D;
}

.jumbotron {
  background-color: darkgrey;
}
