<div class="container">

  <button type="button">app-chevron-button</button>

  <h1> Select a PDF File </h1>
  <span>Selected: {{fileName}}<br>Size: {{fileSize}}</span>

<input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>

<button (click)="hiddenfileinput.click()"  class="btn btn-success">Select PDF</button>

<button (click)="uploadFile()" class="btn btn-success">Process and Upload</button>

<button (click)="upGrade()" class="btn btn-success">Upgrade</button>

<div class="list-group">
  <li
  *ngFor="let upload of bigUser.uploads"
  class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-around"
  [ngSwitch]="upload.result">
    <ng-template ngSwitchCase="undefined">
      <button type="button" class="btn btn-outline-light">Download</button>
      <span class="badge badge-warning badge-pill">Proccessing</span>
    </ng-template>
  </li>
</div>

<div class="alert alert-success" *ngIf="isUpgraded">
    Upgraded. Roles you have now : {{ roles }}.
</div>

</div>
